.page-section-2 {
    background: url('../../Assets/esporte2.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    margin: 0;
    height: 100vh;
}

.dashboard-container {
    background-color: rgba(244, 244, 244, 0.4); /* Ajuste de opacidade para melhor visibilidade do texto */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    max-width: 650px;
    width: 100%;
    text-align: center;
}

.dashboard-title {
    font-size: 30px;
    margin-bottom: 25px;
    color: #333;
    font-weight: bold;
}

.dashboard-info {
    font-size: 20px;
    margin-bottom: 25px;
    color: #555;
}

.dashboard-button {
    font-size: 18px;
    padding: 12px 24px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.view-atletas-button {
    background-color: #5bc0de;
    color: #fff;
}

.view-atletas-button:hover {
    background-color: #31b0d5;
}

.dashboard-subtitle {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.inscricoes-list {
    list-style: none;
    padding: 0;
}

.inscricao-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #555;
    text-align: left;
}

.inscricao-item strong {
    color: #333;
}

.dashboard-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-perfil-button {
    background-color: #4caf50; /* Verde */
    color: white;
    margin-left: 10px; /* Adiciona a margem à esquerda */
}

.view-perfil-button:hover {
    background-color: #45a049; /* Cor um pouco mais escura para o efeito de hover */
}
