.page-section {
    background: #21317a;
    background-size: 200% 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 100vh; /* Garante que a seção ocupe toda a altura da tela */
}

.login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1000px; /* Reduz a largura máxima */
    min-width: 100px;
    min-height: 100px;
    width: 500px;
    height: 416px; /* Aumenta a altura para acomodar os botões sociais */
    padding: 20px;
    background-color: rgb(19, 25, 59);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(30px);
}

.forms {
    display: flex;
    flex-direction: column;
}
.campos {
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: #529958;
}
.campos input {
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    height: 40px;
}

.formss-input {
    width: 300px;
    margin-bottom: 10px;
}
.text {
    display: flex;
    font-size: xx-large;
    color: rgb(245, 245, 245);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buttom-legal {
    margin-left: 20px;
}

.legal {
    margin-left: 75px;
    width: 150px;
    color: #ffffff; /* Cor do texto */
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #182fc4; /* Cor de fundo do botão */
    border: 2px solid #031a46; /* Borda do botão */
    border-radius: 10px;
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Cantos arredondados */
    margin-top: 10px;
}

.legal:hover {
    background-color: #002cf0; /* Cor de fundo ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
}

.error {
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgb(228, 144, 158);
    border-radius: 10px;
    border: 1px solid red;
}

.line {
    display: flex;
    width: 110%;
    min-height: 1px;
    background-color: #000000;
    margin: 20px 0;
}

.social-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.line2,
.line3 {
    flex: 1;
    height: 2px;
    background-color: #000000;
}

.container-bottom {
    display: flex;
    height: 2px;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.text-middle {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    font-size: medium;
}

.regoster {
    margin-left: 215px;
}
